@model IEnumerable<KEB.Application.DTOs.ExamTypeDTO.ExamTypeGeneralDisplayDTO>
<div class="container">
    <div class="row mb-3">
        <div class="col">
            <h2 style="text-align: center">Danh sách loại kỳ thi</h2>
        </div>
    </div>

    <div class="row mb-3">
        <div class="d-flex justify-content-between mb-3">
            <div class="search-box">
                <input type="text" class="form-control" id="searchInput" placeholder="Tìm kiếm" style="border-radius: 20px; background-color: #e9ecef; width: 170px;">
            </div>
            <a href="@Url.Action("Create", "ExamType")" class="btn btn-primary">Tạo Mới</a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table" style="border: 1px solid #dee2e6;">
            <thead>
                <tr style="border-bottom: 1px solid #dee2e6;">
                    <th style="border-right: none;">STT</th>
                    <th style="border-right: none;">Loại Kỳ Thi</th>
                    <th style="border-right: none;">Trình Độ</th>
                    <th style="border-right: none;">Số Kỳ Thi Được Tổ Chức</th>
                    <th style="border-right: none;">Hoạt động</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int index = 1;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="border-right: none;">@index</td>
                        <td style="border-right: none;">@item.ExamTypeName</td>
                        <td style="border-right: none;">@item.LevelName</td>
                        <td style="border-right: none;"  class="text-center">@item.OccuredExams</td>
                        <td class="text-center">
                            <a href="@Url.Action("Edit", "ExamType", new { id = item.ExamTypeId })" class="btn btn-sm btn-outline-primary">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a href="@Url.Action("Delete", "ExamType", new { id = item.ExamTypeId })" class="btn btn-sm btn-outline-info">
                                <i class="bi bi-info-circle"></i>
                            </a>
                        </td>
                    </tr>
                    index++;
                }
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            @for (int p = 1; p <= (int)ViewBag.TotalPages; p++)
            {
                <li class="page-item @(p ==  (int)ViewBag.Page ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = p, size = ViewBag.Size })">@p</a>
                </li>
            }
        </ul>
    </nav>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            // Xử lý tìm kiếm
            $("#searchInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("table tbody tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
    </script>
}
