@model List<KEB.Application.DTOs.ExamDTO.ExamAsTaskDisplayDTO>

@{
    ViewData["Title"] = "Danh sách bài thi";
}

<h2 class="text-xl font-semibold mb-4" style="text-align: center">Danh sách kỳ thi</h2>
<div>
    <a href="@Url.Action("Create", "Exam")" class="btn btn-primary action-btn view-btn">Thêm kỳ thi</a>
</div>
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}
else if (!Model.Any())
{
    <p>Không có bài thi nào được tìm thấy.</p>
}
else
{
    <table class="table" style="border: 1px solid #dee2e6;">
        <thead>
            <tr style="border-bottom: 1px solid #dee2e6;">
                <th style="border-right: none;">STT</th>
                <th style="border-right: none;">Tên bài thi</th>
                <th style="border-right: none;">Loại kỳ thi</th>
                <th style="border-right: none;">Trình độ</th>
                <th style="border-right: none;">Ngày thi</th>
                <th style="border-right: none;">Tình trạng</th>
                <th style="border-right: none;">Hoạt động</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }
            @foreach (var exam in Model)
            {
           
                <tr style="border-bottom: 1px solid #dee2e6;">
                    <td style="border-right: none;">@i</td>
                    <td style="border-right: none;" name="ExamName">@exam.ExamName</td>
                    <td style="border-right: none;" name="ExamType">@exam.ExamType</td>
                    <td style="border-right: none;" name="LevelName">@exam.LevelName</td>
                    <td style="border-right: none;" name="TakePlaceTime">@exam.TakePlaceTime</td>
                    <td style="border-right: none;" name="Occured">@(exam.Occured ? "Chưa diễn ra" : "Đã diễn ra")</td>
                    <td style="border-right: none;">
                        <a href="@Url.Action("Edit", "Exam", new { id = exam.ExamId })" class="btn btn-sm btn-outline-primary">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a href="@Url.Action("Delete", "Exam", new { id = exam.ExamId })" class="btn btn-sm btn-outline-danger">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
}
